{
  "plugins": [
    [
      "@emotion",
      {
        "importMap": {
          "@mui/material": {
            "styled": {
              "canonicalImport": [
                "@emotion/styled",
                "default"
              ],
              "styledBaseImport": [
                "@mui/material",
                "styled"
              ]
            }
          }
        }
      }
    ]
  ]
}