@mixin icon-style {
  position: absolute;
  padding: 20px;
  z-index: 1;
  @include flex-centered();
  @include desktop() {
    top: 15px;
    left: 50%;
    transform: translate(-50%);
  }

  @include mobile() {
    padding: 10px;
    left: 0;
    top: 0;
  }
}

.my-timeline {
  &-center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: $theme-color-primary;

    @include desktop() {
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
    }

    @include mobile() {
      left: 20px;
      top: 10px;
    }

    &-icon {
      @include icon-style();

      @include desktop() {
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }

      @include mobile() {
        left: 20px;
        top: 0;
      }
    }
  }

  &-row {
    &-left,
    &-right {
      display: flex;
      position: relative;

      @include desktop() {
        margin-top: 80px;
      }

      @include mobile() {
        justify-content: flex-end;

        & + & {
          margin-top: 50px;
        }
      }
    }

    &-left {
      @include desktop() {
        justify-content: flex-start;
      }
    }
    &-right {
      justify-content: flex-end;
    }

    &-card {
      position: relative;
      background: $theme-color-card;
      width: calc(50% - 40px);
      padding: 20px;
      position: relative;
      animation: fadeIn;
      animation-fill-mode: forwards;
      animation-duration: 350ms;

      @include mobile() {
        width: 80%;
        margin-right: 10px;
        padding: 15px 15px 60px 15px;
      }

      &.left {
        @include desktop() {
          margin-left: -20px;
        }
      }

      &.right {
        @include desktop() {
          margin-right: -20px;
        }
      }

      &-date {
        position: absolute;

        &.left {
          @include desktop() {
            right: -285px;
          }
        }

        &.right {
          @include desktop() {
            left: -285px;
          }
        }

        @include desktop() {
          top: 30px;
          font-size: 28px;
        }

        @include mobile() {
          font-size: 24px;
          bottom: 20px;
          right: 15px;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: scale(0);
        }

        to {
          opacity: 1;
          transform: scale(1);
        }
      }

      &-icon {
        @include icon-style();
      }

      &::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: $theme-color-card;
        top: 28px;
        z-index: -1;
        transform: rotate(45deg);
      }

      &-bottom,
      &-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-bottom {
        &-link {
          text-decoration: none;
          background: #3ea0e2;
          color: #fff;
          padding: 7px 15px;
          font-weight: 400;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(0.97);
          }
        }
      }

      &-text {
        @include mobile() {
          font-size: 13px;
        }
      }

      &-details {
        &-title {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }

  &-arrow-down {
    animation: arrow-down-animation 1.5s ease-in-out alternate-reverse infinite;
  }

  &-show-more {
    position: absolute;
    background-color: $theme-color-primary;
    z-index: 1;
    cursor: pointer;
    @include pulse-style();
    @include flex-centered();
    
    @include mobile() {
      width: 40px;
      height: 40px;
      left: 0;
      bottom: 20px;
    }

    @include desktop() {
      margin-left: calc(55px / -2);
      margin-top: -15px;
      height: 55px;
      width: 55px;
      left: 50%;
      bottom: -30px;
    }

    svg {
      margin: 0 !important;
      position: unset !important;
      top: unset !important;
      left: unset !important;
    }

    &:not(:hover) {
      &::after {
        animation-name: pulse-animation;
      }
    }

    &:hover {
      background-color: $theme-color-secondary;

      .my-timeline-arrow-down {
        animation-name: unset;
      }
    }
  }

  &-timeline-wrapper {
    position: relative;
    padding-bottom: 80px;

    @include mobile() {
      margin-top: 30px;
    }
  }
}
