.language-tab {
  &-logo {
    object-fit: contain;
    width: 130px;
    max-height: 65px;

    @include mobile() {
      max-width: 55px;
    }
  }

  &-container {
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    background-color: $theme-color-body;
    padding: 10px;

    @include mobile() {
      padding: 10px;
    }

    &:not(:last-of-type) {
      border-right: 2px dashed $theme-color-action-active;
    }

    &:hover {
      background-color: $theme-color-action-hover;
    }

    &:not(.open) {
      border-bottom: 2px solid $theme-color-action-active;
    }

    &.open {
      background-color: $theme-color-action-focus;
    }
  }
}
