@keyframes rotation-keyframe {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.experience {
  &-animated {
    &-container {
      width: 150%;
      height: 150%;
      position: absolute;
      z-index: -1;
      animation-name: rotation-keyframe;
      animation-duration: 40s;
      animation-iteration-count: infinite;
    }
  }

  &-container {
    background-color: rgba(28, 22, 48, 0.7);

    .background-canvas {
      opacity: 0.3;
    }
  }

  &-swiper-container {
    position: relative;
    margin-top: 40px;

    .swiper {
      &-slide {
        position: relative;
        overflow: hidden;

        @include desktop() {
          &::before {
            content: '""';
            position: absolute;
            display: block;
            width: 90%;
            height: 175px;
            border: 2px dashed $theme-color-secondary;
            padding: 5px;
            background-color: $theme-color-secondary;
            background-clip: content-box;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
        }
      }
    }
  }
}
